img {
  width:500px;
}
img, h1, h2 {
  animation-iteration-count: infinite;
}

@keyframes dog {
  0% {
    margin-left: 100%;
    top:100px;
    width: 100%;
  }
  100% {
    margin-left: 0%;
    width: 20%;
  }
}

.dog-img {
  animation-duration: 3s;
  animation-name: dog;
}