.container1 {
    display:flex;
    background-color: rgb(177, 177, 177);
    height: 300px;
    align-items: center;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}
.container1 div {
    height: 100px;
    line-height: 100px;
    border-radius: 20px;
}
.s1 {
    background-color: red;
    width: 91px;
}
.s2 {
    background-color: green;
    width: 181px;
    align-self: end;
}
.s3 {
    background-color: rgb(40, 54, 240);
    width: 272px;
}
.s4 {
    background-color: rgb(230, 255, 5);
    width: 363px;
    align-self: start;
}
.s5 {
    background-color: rgb(2, 0, 97);
    width: 453px;
    color: white;
}
.s6 {
    background-color: rgb(72, 14, 165);
    width: 544px;
    height: 300px !important;
    line-height: 300px !important;
    color: white;
}

.wrapper {
    margin-top: 150px;
    display:flex;
    height: 300px;
    align-items: center;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;

}
.container2, .container3 {
    width: 400px;
    height: 400px;
    margin-right: 20px;
    display: flex;
    background-color: rgb(177, 177, 177);
}
.container2 div, .container3 div {
    height: 100px;
    width: 100px;
}
.c1 {
    background-color: green;
    order: 1;
    align-self: center;
}
.c2 {
    background-color: yellow;
    height: 90px !important;
}
.c3 {
    background-color: red;
}
.c4 {
    background-color: blue;
}
.container3 .c4 {
    order: 1;
}